header {
    // background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2)), url('../assets/mainBg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.headerContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}