header {
    background-image: url('../assets/ribbon.png');
    background-size: 30%;
    background-repeat: no-repeat;
}

.headerContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}