ul {
    padding-left: 0;
    margin: 0;
}

li {
    height: 100vh;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .questionContainer {
        text-align: center;
        
    }
    
    .answerContainer {
        display: flex;
        justify-content: space-around;
    }
}

.answerBox input {
    position: absolute;
    opacity: 0;
}

.result {
    height: 100vh;
}

